{:name "headless.find.-main" ; Qualified path of Lambda Handler
 :request {:event {:batch [{:url "https://gist.github.com/synycboom/9f64460e3fcf5d0a03af2a9570e993e3",
                            :matcher "match-this-text",
                            :match-by "regex",
                            :strategy "static"},
                           {:url "https://twitter.com/wesbos/status/1592190991208947713?s=20&t=cZcZCmR70R-5evuevNMoNA",
                            :matcher "const func =>",
                            :secret "const func =>",
                            :match-by "regex",
                            :strategy "static"},
                           {:url "https://javascript30.com",
                            :matcher "a.hero__title > span.word",
                            :secret "JavaScript",
                            :match-by "css",
                            :strategy "static"},
                           {:url "https://www.amazon.com/Mistel-Bluetooth-Mechanical-Ergonomic-DoubleShot/dp/B08GWZCC34/?_encoding=UTF8&pd_rd_w=DKTzY&content-id=amzn1.sym.e4bd6ac6-9035-4a04-92a6-fc4ad60e09ad&pf_rd_p=e4bd6ac6-9035-4a04-92a6-fc4ad60e09ad&pf_rd_r=BTX6XS1VZPV55X89ARW1&pd_rd_wg=BKYIN&pd_rd_r=84d172c6-ae2f-446e-8ebe-632efddff1ed&ref_=pd_gw_ci_mcx_mr_hp_atf_m",
                            :match-by "css",
                            :matcher "span#productTitle",
                            :secret "Mistel BAROCCO MD770 RGB Wired + Wireless Bluetooth TKL Split Mechanical Keyboard with Cherry MX Brown Switch, Ergonomic Gaming Keyboard, Yellow Letter Glaze Blue PBT DoubleShot Keycaps, Macro Support",
                            :strategy "static"},
                           {:url "https://clojure.org",
                            :matcher "golang",
                            :match-by "regex",
                            :strategy "static"},
                           {:url "https://clojure.org",
                            :matcher "div.clj-header-message",
                            :match-by "css",
                            :secret "wrong secret",
                            :strategy "static"}]},
           :ctx {}}, ; Execution paths to trace (for native image)
 :propagate true} ; Should stop the agent when invocation error occurs?